# Лабораторная работа №5

## Задание 1

- Считать в pandas DataFrame любой источник данных: CSV, JSON, Excel-файл, HTML-таблицу, встроенный датасет sklearn.


- Опишите ваши данные, что обозначает каждый столбец, какого типа (категориальный, вещественный, целочисленный, бинарный) данный столбец, при необходимости для категориальных в том числе бинарных признаков привести расшифровку их значений. В общем, проведите "визуальный" анализ ваших данных.

### Подключение библиотек

In [3]:
import numpy as np
import pandas as pd

Считывание данных в датафрейм

In [4]:
pokemons  = pd.read_csv('Pokemon.csv', sep=',', nrows=721)

In [6]:
pokemons.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

Визуальный анализ данных:<br>
'#' - Порядковый номер покемона (целочисленный)<br>
Name - Имя покемона (строковый)<br>
Type1 - Тип покемона (категориальный)<br>
Type2 - Дополнительный тип (категориальный)<br>
Total - Сумма всех характеристик (целочисленный)<br>
HP - Базовое значение хп (целочисленный)<br>
Attack - Базовое значение атаки (целочисленный)<br>
Defense - Базовое значение защиты (целочисленный)<br>
Sp. Atk - Базовое значение спец. атаки (целочисленный)<br>
Sp. Def - Базовое значение спец. защиты (целочисленный)<br>
Speed - Базовое значение скорости (целочисленный)<br>
Generation - Поколение (категориальный)<br>
Legendary - Легендарный/Не легендрарный (бинарный)

##  Задание 2 Выполните с датафреймом следующие операции (многие операции можно совершить не одним способом, используйте все известные вам способы, поищите/придумайте новые способы) :

- Вывод таблицы

In [7]:
pokemons

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
716,648,MeloettaPirouette Forme,Normal,Fighting,600,100,128,90,77,77,128,5,False
717,649,Genesect,Bug,Steel,600,71,120,95,120,95,99,5,False
718,650,Chespin,Grass,NaN,313,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,405,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,False

- Вывод первых 5 элементов таблицы

In [8]:
pokemons.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

- Вывод последних 5 элементов таблицы

In [9]:
pokemons.tail()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
716,648,MeloettaPirouette Forme,Normal,Fighting,600,100,128,90,77,77,128,5,False
717,649,Genesect,Bug,Steel,600,71,120,95,120,95,99,5,False
718,650,Chespin,Grass,NaN,313,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,405,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,False

- Использовать функцию describe()

In [10]:
pokemons.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,721.000000,721.000000,721.000000,721.000000,721.000000,721.000000,721.000000,721.000000,721.000000
mean,327.027739,434.877947,69.367545,79.377254,73.603329,72.596394,71.510402,68.423024,3.030513
std,187.452096,120.489898,25.982409,32.764594,31.166813,32.794638,27.526456,29.393593,1.480113
min,1.000000,180.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.000000
25%,166.000000,329.000000,50.000000,55.000000,50.000000,48.000000,50.000000,45.000000,2.000000
50%,329.000000,450.000000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.000000
75%,483.000000,515.000000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,4.000000
max,652.000000,780.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.000000

Статистика по числовым значениям

- Считывание значения конкретной ячейки (с конкретным индексом из конкретной колонки) всеми известными вам способами

In [11]:
pokemons.iloc[100]['Name']

'Haunter'

In [12]:
pokemons.at[100, 'Name']

'Haunter'

In [14]:
pokemons.iat[100, 1]

'Haunter'

In [16]:
pokemons._get_value(100, 'Name')

'Haunter'

In [19]:
pokemons['Name'].values[100]

'Haunter'

- Фильтрация строк по диапазону индекса

In [46]:
pokemons[pokemons.index.isin ([i for i in range(200, 220)])]

SyntaxError: invalid syntax (3881580177.py, line 1)

- Фильтрация набора данных по какому-либо условию

In [40]:
pokemons[(pokemons['Type 1'] == 'Dark') | (pokemons['Type 2'] == 'Dark')]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
141,130,GyaradosMega Gyarados,Water,Dark,640,95,155,109,70,130,81,1,False
212,197,Umbreon,Dark,NaN,525,95,65,110,60,130,65,2,False
213,198,Murkrow,Dark,Flying,405,60,85,42,85,42,91,2,False
233,215,Sneasel,Dark,Ice,430,55,95,55,35,75,115,2,False
246,228,Houndour,Dark,Fire,330,45,60,30,80,50,65,2,False
247,229,Houndoom,Dark,Fire,500,75,90,50,110,80,95,2,False
248,229,HoundoomMega Houndoom,Dark,Fire,600,75,90,90,140,90,115,2,False
267,248,Tyranitar,Rock,Dark,600,100,134,110,95,100,61,2,False
268,248,TyranitarMega Tyranitar,Rock,Dark,700,100,164,150,95,120,71,2,False
284,261,Poochyena,Dark,NaN,220,35,55,35,30,30,35,3,False
285,262,Mightyena,Dark,NaN,420,70,90,70,60,60,70,3,False
297,274,Nuzleaf,Grass,Dark,340,70,70,40,60,40,60,3,False
298,275,Shiftry,Grass,Dark,480,90,100,60,90,60,80,3,False
326,302,Sableye,Dark,Ghost,380,50,75,75,65,65,50,3,False
327,302,SableyeMega Sableye,Dark,Ghost,480,50,85,125,85,115,20,3,False
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False
349,319,SharpedoMega Sharpedo,Water,Dark,560,70,140,70,110,65,105,3,False
363,332,Cacturne,Grass,Dark,475,70,115,60,115,60,55,3,False
374,342,Crawdaunt,Water,Dark,468,63,120,85,90,55,55,3,False
392,359,Absol,Dark,NaN,465,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,565,65,150,60,115,60,115,3,False
478,430,Honchkrow,Dark,Flying,505,100,125,52,105,52,71,4,False
482,434,Stunky,Poison,Dark,329,63,63,47,41,41,74,4,False
483,435,Skuntank,Poison,Dark,479,103,93,67,71,61,84,4,False
490,442,Spiritomb,Ghost,Dark,485,50,92,108,92,108,35,4,False
502,452,Drapion,Poison,Dark,500,70,90,110,60,75,95,4,False
512,461,Weavile,Dark,Ice,510,70,120,65,45,85,125,4,False
549,491,Darkrai,Dark,NaN,600,70,90,90,135,90,125,4,True
568,509,Purrloin,Dark,NaN,281,41,50,37,50,37,66,5,False
569,510,Liepard,Dark,NaN,446,64,88,50,88,50,106,5,False
611,551,Sandile,Ground,Dark,292,50,72,35,35,35,65,5,False
612,552,Krokorok,Ground,Dark,351,60,82,45,45,45,74,5,False
613,553,Krookodile,Ground,Dark,519,95,117,80,65,70,92,5,False
620,559,Scraggy,Dark,Fighting,348,50,75,70,35,70,48,5,False
621,560,Scrafty,Dark,Fighting,488,65,90,115,45,115,58,5,False
631,570,Zorua,Dark,NaN,330,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,510,60,105,60,120,60,105,5,False
685,624,Pawniard,Dark,Steel,340,45,85,70,40,40,60,5,False
686,625,Bisharp,Dark,Steel,490,65,125,100,60,70,70,5,False
690,629,Vullaby,Dark,Flying,370,70,55,75,45,65,60,5,False
691,630,Mandibuzz,Dark,Flying,510,110,65,105,55,95,80,5,False
694,633,Deino,Dark,Dragon,300,52,65,50,45,50,38,5,False
695,634,Zweilous,Dark,Dragon,420,72,85,70,65,70,58,5,False
696,635,Hydreigon,Dark,Dragon,600,92,105,90,125,90,98,5,False

Все покемоны тёмного типа

In [42]:
pokemons.nlargest(1, 'Speed')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
431,386,DeoxysSpeed Forme,Psychic,NaN,600,50,95,90,95,90,180,3,True

Самый быстрый покемон

In [43]:
pokemons.nsmallest(1, 'Speed')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False

Самый медленный покемон

- Работа с пропущенными значениями (если они есть): удаление строк с пропущенными значениями, заполнение пропущенных значений средним значением по колонке. Если пропущенных значений нет — намеренно их "генерируете", прибивая какие-то куски данных в np.nan

In [53]:
pokemons.iloc[[4]]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

Пустое значение в колонке Type 2

In [58]:
pokemons_without_NaN = pokemons.dropna(subset='Type 2')
pokemons_without_NaN

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
714,647,KeldeoResolute Forme,Water,Fighting,580,91,72,90,129,90,108,5,False
715,648,MeloettaAria Forme,Normal,Psychic,600,100,77,77,128,128,90,5,False
716,648,MeloettaPirouette Forme,Normal,Fighting,600,100,128,90,77,77,128,5,False
717,649,Genesect,Bug,Steel,600,71,120,95,120,95,99,5,False
720,652,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,False

Строка с пустым значением удалилась

In [68]:
pokemons.fillna(pokemons_without_NaN['Type 2'].mode().values[0])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,Flying,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
716,648,MeloettaPirouette Forme,Normal,Fighting,600,100,128,90,77,77,128,5,False
717,649,Genesect,Bug,Steel,600,71,120,95,120,95,99,5,False
718,650,Chespin,Grass,Flying,313,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,Flying,405,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,False

Пустое значение заменилось на самое распространённое в колонке

-  Создание нового поля вычисленного на основе значений других полей:
- - Через Dataframe.apply

In [70]:
pokemons['Attack Sum'] = pokemons.apply(lambda row: row['Attack'] + row['Sp. Atk'], axis = 1)
pokemons

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attack Sum
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,114
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,142
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,182
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,222
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,112
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716,648,MeloettaPirouette Forme,Normal,Fighting,600,100,128,90,77,77,128,5,False,205
717,649,Genesect,Bug,Steel,600,71,120,95,120,95,99,5,False,240
718,650,Chespin,Grass,NaN,313,56,61,65,48,45,38,6,False,109
719,651,Quilladin,Grass,NaN,405,61,78,95,56,58,57,6,False,134
720,652,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,False,181

Сложение значений атаки и спец. атаки в новый столбец суммы атаки

- - Через Series.apply

In [75]:
number = pd.Series([i for i in range(1, 722)])
pokemons['Number'] = number
pokemons

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attack Sum,Number
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,114,1
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,142,2
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,182,3
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,222,4
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,112,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716,648,MeloettaPirouette Forme,Normal,Fighting,600,100,128,90,77,77,128,5,False,205,717
717,649,Genesect,Bug,Steel,600,71,120,95,120,95,99,5,False,240,718
718,650,Chespin,Grass,NaN,313,56,61,65,48,45,38,6,False,109,719
719,651,Quilladin,Grass,NaN,405,61,78,95,56,58,57,6,False,134,720
720,652,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,False,181,721

Добавление Series к датафрейму

- Сортировка по какому-либо из полей

In [77]:
pokemons.sort_values(by = 'Total', ascending = False)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attack Sum,Number
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True,360,427
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True,344,165
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True,344,164
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True,330,425
422,382,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,True,330,423
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False,55,17
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False,50,14
446,401,Kricketot,Bug,NaN,194,37,25,41,25,41,25,4,False,50,447
322,298,Azurill,Normal,Fairy,190,50,20,40,20,40,20,3,False,40,323
206,191,Sunkern,Grass,NaN,180,30,30,30,30,30,30,2,False,60,207

Сортировка по убыванию от самого сильного по сумме статов покемона до самого слабого

- Вычислить несколько статистик по колонкам (используйте встроенные агрегатные функции — любые на выбор)

In [80]:
pokemons.mean(numeric_only = True)

#             327.027739
Total         434.877947
HP             69.367545
Attack         79.377254
Defense        73.603329
Sp. Atk        72.596394
Sp. Def        71.510402
Speed          68.423024
Generation      3.030513
Legendary       0.079057
Attack Sum    151.973648
Number        361.000000
dtype: float64

Средние значения числовых столбцов

In [83]:
pokemons.min(numeric_only = True)

#                 1
Total           180
HP                1
Attack            5
Defense           5
Sp. Atk          10
Sp. Def          20
Speed             5
Generation        1
Legendary     False
Attack Sum       20
Number            1
dtype: object

Минимальные числовые значения столбцов

- .value_counts()

In [85]:
pokemons['Type 1'].value_counts()

Water       107
Normal       94
Grass        68
Bug          66
Psychic      52
Fire         44
Electric     41
Rock         35
Ground       32
Dragon       28
Dark         28
Poison       26
Fighting     24
Ice          22
Ghost        22
Steel        22
Fairy         8
Flying        2
Name: Type 1, dtype: int64

Подсчёт количества покемонов по основному типу

- Вывод уникальных значений колонки через .unique()

In [88]:
pokemons['Type 2'].unique()

array(['Poison', nan, 'Flying', 'Dragon', 'Ground', 'Fairy', 'Grass',
       'Fighting', 'Psychic', 'Steel', 'Ice', 'Rock', 'Dark', 'Water',
       'Electric', 'Fire', 'Ghost', 'Bug'], dtype=object)

Уникальные значения дополнительного типа

- Удалите текущий индекс и создайте новый индекс на базе новой колонки, которая для этого лучше всего подходит

In [91]:
pokemons.reset_index(inplace= False)
pokemons.set_index('Number')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attack Sum
Number,,,,,,,,,,,,,,
1,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,114
2,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,142
3,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,182
4,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,222
5,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,112
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717,648,MeloettaPirouette Forme,Normal,Fighting,600,100,128,90,77,77,128,5,False,205
718,649,Genesect,Bug,Steel,600,71,120,95,120,95,99,5,False,240
719,650,Chespin,Grass,NaN,313,56,61,65,48,45,38,6,False,109
720,651,Quilladin,Grass,NaN,405,61,78,95,56,58,57,6,False,134
721,652,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,False,181

Удалили старый индекс и сделали индексацию по полю Number